#block-webform {
  form {
    width: 75%;
    float: left;
    margin-right: 20px;
    @media #{$iphone-horiz} {
      width: 100%;
      float: none;
    }
  }
  label {
    margin-top: 0;
  }
  .form-control {
    color: $gray;
    background-color: $ltblue;
  }
  .form-required:after {
    background-image: none;
    content: "*";
  }
  .btn-primary {
    background-color: $gray;
    border-color: $gray;
  }
  .form-item {
    display: none;
  }
}
